#center {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  width: 1000px;
  height: 400px;
  opacity: 5;
}
h1,h2 {
  text-align: center;
}
.intro {
  margin-top: 150px;
}
.overall {
  display: flex;
  justify-content: space-around;
}
.top,h3 {
    font-size: medium;
    font-style: oblique;
    font-weight: 700;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: blue;
    max-width: 30;
    height:10 ;
}
.img {
  background-size: 100px 50px;
}
/* Nav bar styling */
header{
  display: flex;
  justify-content: space-between;
  background-color: #EE6C4D;
  color: #ffffff;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a{
  color: white;
  text-decoration: none;
}


nav > ul {
  text-decoration: none;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

nav > ul > li > a:hover {
  color: #C71585;
  text-decoration: none;
  display: block;
}   

.emblem{
  width: 100px;
}
#first {
width: 1200px;
height: 500px;
margin-right: auto;
margin-right: auto;
display: block;
}
body {
  background-color: grey;
}
*{
  box-sizing: border-box;
}

footer{
  display: flex;
  flex-direction: column;
}

#emblem{
  width: 100px;
}
#center {
  width: 1200px;
  height: 400px;
}
.footerA{
  display: inherit;
  justify-content: space-between;
  background-color:  #47525d;
  color: #ffffff;
  flex-wrap: wrap;
}

.footer1{
  display: inherit;
}

.footer1{
  height: 100px;
  width: auto;
  margin-top: 10px;
}

#footerB{
  color:#ffffff;
  background-color: #3d464d;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.links>p{
  margin: 5px auto;
}

.address>p{
  margin: 5px auto;
} 
.address{
  margin-right: 50px;
  margin-top: 10px;
}

.social, .links{
  margin-right: 150px;
  margin-top: 10px;
}

a{
  color: white;
  text-decoration: none;
}

.socialmedia{
  display: flex;
  align-items: center;
}

#twitter, #facebook, #insta{
  width: 45px;
  margin: 10px 10px 10px auto;
} 

#button{
  margin-bottom: 10px;
  padding: 20px;
  background-color: blue;
  color: white;
  width: 14em;
  border-radius: 5px;
}